{% extends 'base.html.twig' %}

{% block title %}La Boutique Française - Connexion{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    <p>Bienvenue, {{ app.user.firstname }}&nbsp;!</p>

    <!-- Modifier mon mot de passe -->

    <!-- Ajouter une adresse -->

    <!-- Mes commandes -->

{% endblock %}
