{% extends 'base.html.twig' %}

{% block title %}La Boutique Française - Modification du mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <p>
        Retourner à
        <a href="{{ path('app_account') }}">mon compte</a>
    </p>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}

    <!-- Formulaire -->

{% endblock %}

